body {
	background: url(images/background_pattern.png);
	margin: 0px;
	font-family: sans-serif;
}

#upper-half {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}


#image-container {
	width: 70%;
	height: 300px;
	background: url(images/main.jpg);
	background-size: 666px;
	background-position: -44px -126px;
}

#personal {
	color: #FEB70F;
}

#page {
	color: white;
}

#slider-buttons {
	margin-top: -10px;
}
#slider-buttons ul li {
	float: left;
	margin-right: 4px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	background: url(images/button_background.png);
	border: none;	
	color: white;
	padding: 5px;
	width: 127px;
	height: 30px;
	line-height: 1.5;
	background-size: 8px;
}

#slider-buttons ul {
	margin-left: -41px;
}
#slider-buttons ul li:first-child{
	background: url(images/selected_button_background.png);
	border-top: solid 2px white;
	background-size: 4px;
	margin-top: -2px;
}

#side-menu {
	height: 349px;
	width: 250px;
	float: right;
	margin-top: -307px;
}

#latest-work {
	height: 86%;
	width: 100%;
	background: #958C83;
	margin-bottom: 5px;
}

#latest-work-icons {
	width: 100%;
	height: 12%;
	background: #5E574F;
}

#title-container {
	background: #3B342E;
	color: white;
	width: 70%;
	float: right;
	text-align: left;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
}

#latest-word {
	color: #FEB70F;
}

#latest-img-1 {
	width: 130px;
	margin-top: 15px;
}

#img-1-container {
	margin-left: 9px;
	text-align: center;
	color: white;
	width: 241px;
	height: 110px;
	overflow: hidden;
}

#img-2-container {
	margin-left: 9px;
	text-align: center;
	color: white;
	width: 241px;
	height: 110px;
	overflow: hidden;
}

.icon {
	width: 20px;
	margin-top: 10px;
	margin-right: 25px;
	cursor: pointer;
}

#icons-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#last-icon {
	margin-right: 0px;
}